html {
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #50d8d7, #6258ee);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

input {
    width: 50%;
    height: 300px;
    margin-top: 40px;
}

.input_promt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}